.item {
  padding-bottom: 3em;
  max-width: 25em;
  margin: 0 auto;

  @media (max-width: 550px) {
    width: 100%;
  }

  .item-img {
    border: 1px solid #fff;
    margin-bottom: 1em;
  }

  .item-name {
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
}

#container-404 .content {
  min-height: calc(100vh - 12em);
}
